<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="container flash-bar">
      <% flash.each do |key, message| %>
        <div class="alert alert-primary"><%= message %></div>
      <% end %>
    </section>
    <section class="container" id="<%= params[:controller] %>-page">
      <%= yield %>
    </section>
  </body>
</html>
